
.container{
    background-color: whitesmoke;
}
/*header*/
.header{
    background-color: #352D2F;
    height: 550px;
    width: 100%;
    color: white;
}
nav a{
    margin-left: 5px;
}
#logo{
    float: left;
}

/*our-work*/
.work{
    height: 500px;
    width: 100%;
    
}
.left{
    background-color:#E4EEED;
    height: 500px;
    width: 50%;

}

.right{
    padding-top: 300px;
    background-color: #F63C3C;
    height: 500px;
    width: 50%;
    

}
.space{
    height: 100px;
    width: 100%;
    background-color: #352D2F;
}


/*services*/
.services{
    background-color: whitesmoke;
    height: 400px;
    width: 100%;
    margin-top: 30px;
    
}
.top{
    margin-top: 30px;
}
.bottom{
    margin-top: 30px;
}

/*call area*/
.call{
    background-color: #352D2F; 
    height: 150px;
    width: 100%;
}

/*journal*/
h3{
    font-size: 15px;
}


/*links*/
.links{
    height: 300px;
    width: 100%;
    background-color: #352D2F; 
}
.links img{
    padding: 50px;
}

/*footer*/
input{
width: 30%;    
}

.social{
    width: 50%;
    height: 200px;
}
.fb ,.twitter ,.google ,.pin{
    height: 100px;
    width: 50%;
    
    
}
.fb ,.pin{
    background-color: #726D6E;
}
.twitter ,.google{
    background-color: #352D2F; 
}


/*fonts*/
h1,h2.h3,input{
    font-family: 'Oswald', sans-serif;
}
body{
    font-family: 'Roboto Slab', serif;
}