/*header*/
.header{
    background-color: #352D2F;
    height: 550px;
    width: 100%;
}
#logo{
    float: left;
}

/*our-work*/
.work{
    height: 500px;
    width: 100%;
    
}
.left{
    background-color:#E4EEED;
    height: 500px;
    width: 100%;

}

.right{
    background-color: #F63C3C;
    height: 500px;
    width: 100%;
    

}
.space{
    height: 100px;
    width: 100%;
    background-color: #352D2F;
}


/*services*/
.services{
    background-color: whitesmoke;
    height: 400px;
    width: 100%;
    
}
.top{
    margin-top: 30px;
}
.bottom{
    margin-top: 30px;
}

/*call area*/
.call{
    background-color: #352D2F; 
    height: 150px;
    width: 100%;
}

/*journal*/
h3{
    font-size: 20px;
}
